# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/app/build/
android/.gradle/
android/app/release/
android/app/src/main/assets/
android/app/src/main/res/drawable-*/node_modules_reactnavigation_elements_lib_module_assets_*.png
android/app/src/main/res/raw/assets_sounds_*.wav
android/app/src/main/res/raw/keep.xml
ios/Pods/
ios/build/

# Metro
.metro-health-check*

# Debug
npm-debug.log
yarn-error.log

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride
Icon
._*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Temporary files
*.log
*.tmp
.cache/
